<html>
<head>
    <title>Game Theory</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/base.css" rel="stylesheet" media="screen">
</head>

<body>
<h1>Game Theory Games</h1>

<table id="id_game_table">
	<tr>
		<td>The Losing Game<td>
		<td><a href="/gametheorygames/losing_game" id="id_losing_game_button">Play the game!</a></td>
	<tr>
</table>


</body>
</html>
