<html>
<head>
    <title>The Losing Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/base.css" rel="stylesheet" media="screen">
</head>

<body>
	<h1>The Losing Game</h1>
	<p id="id_game_description">
		The Losing Game is the simplest game theory game - it's a game where you always lose! In this game, you will send bitcoins to an address, then you lose those bitcoins forever.
	</p>
	<a href="/gametheorygames/losing_game/new" id="id_play_game_button">Begin Playing!</a>
</html>
