<html>
<head>
    <title>Playing The Losing Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/base.css" rel="stylesheet" media="screen">
</head>

<body>
	<h1>You are now playing The Losing Game</h1>
	<p id="id_game_description">
		The Losing Game is the simplest game theory game - it's a game where you always lose! In this game, you will send bitcoins to an address, then you lose those bitcoins forever.
	</p>
	<iframe src="https://coinbase.com/inline_payments/4d4b84bbad4508b64b61d372ea394dad" style="width: 500px; height: 160px; border: none; box-shadow: 0 1px 3px rgba(0,0,0,0.25); overflow: hidden;" scrolling="no" allowtransparency="true" frameborder="0"></iframe>
</html>
